
.idea/
.ipynb_checkpoints

# Byte-compiled
__pycache__
*.pyc

# Log files
*.log
logs.txt

.DS_Store
fortest/

# Word documents
~$*
*.ini

# data dir
data/*

# keep data, responses, menus folders
!data/.responses
!data/.menus
